<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "dashboard/application", media: "all" %>
  <%= dashboard_importmap_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
